<section class="grid-container">
  <div class="staff py-2 px-4"><h3>Staff</h3></div>
  <div class="shift-patterns py-2 px-4"><h3>Shift patterns</h3></div>
  <div class="assignments py-2 px-4"><h3>Assignments</h3></div>
  <div class="shifts py-2 px-4"><h3>Shifts</h3></div>
</section>