<section class="footer flex">
  <p class="f-section text-bold">Copyright &copy Sami Spjuth</p>
  <p class="f-section"></p>  
  <div class="f-section flex justify-center">
    <p class="px-4"><%= link_to 'ABOUT', '#' %></p>
    <p class="px-4"><%= link_to 'CONTACT', '#' %></p>
  </div>
</div>