<section class="masthead">
  <h1 class="masthead-text heading">Sqedule</h1>
  <div id="user-forms"></div>
  <div class="masthead-text sub-heading">Optimized staff planning made easy</div>
   <div class="wrapper">
    <%= link_to 'Sign up', new_user_registration_path, remote: true, class: "sign-up btn btn-white masthead-text" %>
    <%= link_to 'Log in', new_user_session_path, remote: true, class: "sign-up btn btn-white masthead-text" %>
  </div>
</section>

<%= render partial: 'partials/landing_footer' %>