<nav class="landing-nav">
  <form action="/users/sign_in" method="get">
    <%# <button><%= link_to 'Login', user_session_path, class: "btn btn-white masthead-text login" %></button>
    <button class="btn btn-white masthead-text login">Login</button>
  </form>
</nav>