<%= render 'partials/landing_nav' %>
<section class="masthead">
  <h1 class="masthead-text heading">Sqedule</h1>
  <div class="masthead-text sub-heading">Optimized staff and shift planning for small and medium sized businesses</div>
  <form action="/users/sign_up" method="get">
    <button class="btn btn-white masthead-text sign-up">Sign up</button>
  </form>
</section>
<%= render 'partials/landing_footer' %>