<nav class="landing-nav">
  <% if user_signed_in? %>
  <%= link_to "Sign out", destroy_user_session_path, method: :delete, class: "btn btn-black masthead-text-black login"%>
  <% else %>
  <%= link_to 'Login', new_user_session_path, remote: true, class: "btn btn-white masthead-text login" %>
  <% end %>
</nav>