<div class="flex bg-smoke-light animated fadeIn fixed z-50 pin overflow-auto" id="modal">
  <div class="flex flex-col animated fadeInUp fixed shadow-inner max-w-md md:relative pin-b pin-x align-top m-auto justify-end md:justify-center md:rounded w-full md:h-auto md:shadow">
    <%= content_for :shift_modal_content %>
  </div>
</div>