<% @date_array.each do |date| %>
  <% assignment = @assignments.select {|assignment| (date == assignment.date) && (assignment.staff_id == staff.id)} %>
  <% unless assignment[0].nil? %>
    <div class="shift" style="background-color: <%= "#{"pink" if date.wday == 0}" %>">
      <p><%= link_to "#{format_shift(assignment[0].shift)[0]}", edit_staff_assignment_path(staff, assignment, date: date), remote: true, id: "assignment_#{assignment[0].id}", class: "no-underline text-black p-6 dates-text" %></p>
      <p class="text-black text-center dates-text"><%= "#{format_shift(assignment[0].shift)[1]}"%></p>
   
    </div>
  <% else %>
    <div class="shift">
      <p><%= link_to "+", new_staff_assignment_path(staff, assignment, date: date), remote: true, id: "#{date}_#{staff.id}", class: "#{date.wday == 0 ? "pink-shift-btn" : "shift-btn"}" %></p>
    </div>
  <% end %>
<% end %>

