<% @date_array.each do |date| %> 
  <div class="shift sqedule-border">
    <% shift = @shifts.select {|shift| (date == shift.date) && shift.pattern_id == pattern.id} %>
    <% unless shift[0].nil? %>
      <p class="text-center"><%= "#{shift[0].date.day}_#{shift[0].pattern.id}" %></p>
    <% else %>
      <p class="text-center mt-2"><%= link_to "+", "/schedules/#{@schedule.id}/patterns/#{pattern.id}/shifts/new" %></p>
    <% end %>
  </div>
<% end %>

