<% content_for :modal_content do %>
  <div class="bg-white p-12 border border-cyan rounded">
    <h3 id="opt-title">Awaiting response from optimizer</h3>
      <p class="notice text-red"><%= notice %></p>
  </div>
<% end %>

<%= render partial: 'partials/modal'%>