<% content_for :modal_content do %>
  <div class="bg-white p-12 border border-cyan rounded">
    <h3>Summary of planning period</h3>
    <form action="#">
      <input type="submit" value="Optimize" class="btn btn-blue my-4">      
    </form>
    <pre class="text-xs"><%= JSON.pretty_generate(@optimizer_hash) %><pre>    
  </div>
<% end %>

<%= render partial: 'partials/modal'%>