<% content_for :modal_content do %>
  <div class="bg-white p-12 border border-cyan rounded">
    <p>Summary of planning period</p>
    <p><%= link_to "Optimize", "#" %></p>
  </div>
<% end %>

<%= render partial: 'partials/modal'%>