<section class="grid-container">
  <div class="staff py-2 px-4"><%= render 'partials/staff' %></div>
  <div class="shift-patterns py-2 px-4"><%= render 'partials/shift_patterns' %></div>
  <div class="assignments py-2 px-4"><%= render 'partials/assignments' %></div>
  <div class="shifts py-2 px-4"><%= render 'partials/shifts' %></div>
</section>