<section class="masthead">
  <div class="top-layer">
    <div class="masthead-text heading">Sqedule</div>
    <div class="masthead-text sub-heading">Optimized staff and shift planning for small to medium sized businesses</div>
    <button class="btn btn-white masthead-text sign-up">Sign up</button>
  </div>
</section>