@tailwind preflight;
@tailwind components;

// Cuztomize tailwind utilities here:

.btn {
  @apply font-bold py-2 px-4 rounded;
}

.btn-blue {
  @apply bg-blue text-white;
}

.btn-blue:hover {
  @apply bg-blue-dark;
}

.btn-white {
  @apply text-white border-2 border-white;
}

.btn-white:hover {
  @apply bg-white text-grey-darkest;
}

.shift-btn {
  @apply bg-transparent text-blue-dark font-semibold py-2 px-4 rounded;
}

.shift-btn:hover {
  @apply bg-blue text-white border-transparent;
}

.pink-shift-btn {
  @apply bg-transparent text-pink-dark font-semibold py-2 px-4 rounded;
}

.pink-shift-btn:hover {
  @apply bg-pink text-white border-transparent;
}

.btn-black {
  @apply text-black border-2 border-black;
}

.btn-black:hover {
  @apply bg-black text-white;
}

.input-field {
  @apply shadow appearance-none border rounded py-2 px-3 text-grey-darker leading-tight;
}

.input-field:focus {
  @apply outline-none shadow-outline;
}

.sqedule-border {
  @apply bg-white shadow-md rounded px-2 pt-2 pb-2 mb-2;
}

.sqedule-border-sections {
  @apply bg-grey-lightest shadow-md rounded px-2 pt-2 pb-2 mb-2;
}

.sqedule-border-tranparent {
  @apply bg-transparent rounded px-2 pt-2 mb-2;
}

.month-step {
  @apply text-2xl no-underline;
}

.month-step:visited {
  @apply text-black;
}

.sqedule-label {
  @apply inline-flex leading-tight mt-4 text-blue-dark text-sm font-bold;
}

.sqedule-input {
  @apply block shadow appearance-none border rounded w-2/3 py-2 px-2 text-grey-darker leading-tight;
}

.sqedule-input:focus {
  @apply  outline-none shadow-outline;
}

.sqedule-form {
  @apply bg-grey-light shadow-md rounded px-8 pt-6 pb-8 mb-8;
}

.sqedule-dropdown {
  @apply block appearance-none mt-4 bg-white border border-grey-light px-4 py-2 pr-8 rounded shadow leading-tight;
}

.sqedule-dropdown:focus {
  @apply outline-none shadow-outline;
}

.sqedule-dropdown:hover {
  @apply border-grey;
}

@tailwind utilities;

