.masthead {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  background:     
    linear-gradient(
      rgba(0, 0, 0, 0.45), 
      rgba(0, 0, 0, 0.45)
    ),    
    image_url("landing_page_2.jpg");
  background-position: center center;
  background-size: cover;
}

.masthead-text  {  
  color: #fefefe;  
  width: 100vw;
  text-align: center;
  text-transform: uppercase;
}

.masthead-text-black  {  
  color: black;  
  width: 100vw;
  text-align: center;
  text-transform: uppercase;
}

.heading {
  margin-top: 20vh;
  background: rgba(0,0,0,0.5);
  font-size: 9rem;
  font-weight: normal;
}

.sub-heading {
  font-size: 2rem;  
  width: 24vw;
  margin: 50px auto 25px auto;
}

.sign-up {
  font-size: 1.5rem;  
  width: 8vw;
  margin-right: 10px;
  text-decoration: none; 
}

.landing-nav {
  position: fixed;
  height: 50px;
  left: 0;
  top: 0;
}

.login {
  top: 15px;
  left: 90vw;
  font-size: 1rem;  
  width: 6vw;  
  display: block;
  position: absolute;
  text-decoration: none;
}

.footer {
  height: 50px;
  font-size: 20px;
  position: fixed;
  bottom: 0;
  left: 0;
  color: #fefefe;
  a {
    color: #fefefe;
    text-decoration: none;
    padding: 5px;
    border-radius: 4px;
    font-weight: bold;
  }

  a:visited {
    color: #fefefe;
  }
  a:hover {
    color: rgb(39, 38, 38);
    background-color: white;
  }
}

.f-section {
  margin: 0;
  width: 33vw;
  line-height: 50px;
  text-align: center;
}

.wrapper {
  display: flex;
  justify-content: center;
}