.masthead {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  background:     
    linear-gradient(
      rgba(0, 0, 0, 0.45), 
      rgba(0, 0, 0, 0.45)
    ),    
    image_url("landing_page_2.jpg");
  background-position: center center;
  background-size: cover;

}

.masthead-text  {  color: #fefefe;  
  width: 100vw;
  text-align: center;
  text-transform: uppercase;
}

.heading {
  margin-top: 20vh;
  background: rgba(0,0,0,0.5);
  font-size: 9rem;  
}

.sub-heading {
  font-size: 2rem;  
  width: 24vw;
  margin: 50px auto;
}

.sign-up {
  font-size: 2rem;  
  width: 8vw;
  margin: 50px auto;
  display: block;
}