.staff { 
    grid-area: staff;   
    overflow: scroll;
    display: grid;
    justify-content: center;
    align-content: start;
    border: 1px solid black;
}

.assignments { 
    grid-area: assignments;   
    overflow: scroll;
    display: grid;
    justify-content: center;
    align-content: start;
    border: 1px solid black;
}

.shift-patterns { 
    grid-area: shift-patterns;   
    overflow: scroll;
    display: grid;
    justify-content: center;
    align-content: start;
    border: 1px solid black;
}

.shifts {
    grid-area: shifts;   
    overflow: scroll;
    display: grid;
    justify-content: center;
    align-content: start;
    border: 1px solid black;
}

.grid-container {
    display: grid;
    height: 90vh;
    grid-row-gap: 25px;
    grid-column-gap: 5px;
    margin: 20px 70px;
    padding: 5px;
    grid-template-columns: 25% 75%;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
    'staff assignments'
    'shift-patterns shifts';
}