.grid-container {
    display: grid;
    height: 90vh;
    grid-row-gap: 15px;
    grid-column-gap: 5px;
    margin: 20px 70px;
    padding: 5px; 
    grid-template-areas:
        'period   dates'
        'staff    assignments'
        'patterns shifts';
    grid-template-columns: 25% 75%;
    grid-template-rows: auto 45% 45%;
}

.period {
    grid-area: period;
}

.dates-header {
    grid-area: dates;
    overflow: hidden;
    padding-left: 10px;
    display: grid;  
    grid-template-columns: repeat(auto-fill, 2.20vw);
    border: solid white;
    align-content: end;
}

.staff { 
    grid-area: staff;   
    overflow: scroll;
    display: grid;
    justify-content: center;
    align-content: start;
    border: 1px solid black;
}

.assignments { 
    grid-area: assignments;   
    overflow: scroll;
    display: grid;
    justify-content: center;
    align-content: start;
    border: 1px solid black;
}

.shift-patterns { 
    grid-area: patterns;   
    overflow: scroll;
    display: grid;
    justify-content: center;
    align-content: start;
    border: 1px solid black;
}

.shifts {
    grid-area: shifts;   
    overflow: scroll;
    display: grid;
    justify-content: center;
    align-content: start;
    border: 1px solid black;
}

