$row-height: 8vh;

.grid-container {
    display: grid;
    height: 90vh;
    grid-row-gap: 15px;
    grid-column-gap: 10px;
    margin: 8vh 30px 0 30px;
    padding: 5px; 
    grid-template-areas:
        'dates    dates'
        'staff    staff'
        'patterns patterns';
    grid-template-columns: 15% 85%;
    grid-template-rows: 10% 40% 40%;
}

.dates-header {
    grid-area: dates;   
    overflow-y: scroll;
    overflow-x: hidden;
    display: grid;
    grid-template-columns: 20% 80%;
    grid-column-gap: 2px;
    grid-template-rows: 100%;
    justify-content: center;
    align-content: end;
}

.staff { 
    grid-area: staff;   
    overflow-y: scroll;
    overflow-x: hidden;
    display: grid;
    grid-template-columns: 20% 80%;
    grid-column-gap: 2px;
    grid-template-rows: 100%;
    justify-content: center;
    align-content: start;
}

.assignments { 
    grid-area: assignments;   
    overflow-y: scroll;
    overflow-x: hidden;
    display: grid;
    justify-content: center;
    align-content: start;
}

.shift-patterns { 
    grid-area: patterns;   
    overflow-y: scroll;
    overflow-x: hidden;
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: 100%;
    grid-column-gap: 2px;
    justify-content: center;
    align-content: start;
}

.tile {
    height: $row-height;
    width: 100%;
}

.add-tile {
    height: $row-height;
    width: 100%;
    display: grid;
    justify-content: center;
    align-content: center;
}
