.shift {
  display: grid;
  align-content: center;
  justify-content: center;
  height: 60px;
  position: relative;
  a {
    text-decoration: none;
  }
  a:visited {
    color: black;
  }
  form {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
}

.shift:hover {
  transform: scale(1.05);
}

.tile-grid {
  overflow: hidden;
  padding-left: 10px;
  display: grid;
  height: 10vh;
  grid-template-columns: repeat(auto-fill, 3.1%);
  grid-gap: 1px;
  align-content: center;
}