$row-height: 5vh;

.shift {
  display: grid;
  align-content: center;
  justify-content: center;
  height: 60px;
  position: relative;
  a {
    text-decoration: none;
  }
  a:visited {
    color: black;
  }
  form {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
}

.shift:hover {
  transform: scale(1.05);
}

.tile-grid {
  overflow: hidden;
  padding-left: 10px;
  display: grid;
  height: $row-height;
  grid-template-columns: repeat(auto-fit, minmax(3.1%, 1fr));
  grid-gap: 1px;
  align-content: center;
}

.date-grid {
  overflow: hidden;
  padding-left: 10px;
  height: 100%;
  display: grid;  
  grid-template-columns: repeat(auto-fit, minmax(3.1%, 1fr));
  grid-gap: 1px;
  align-content: end;
}